<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マキノロゴ検出</title>
</head>
<body>
  <h1>画像中からマキノのロゴを検出します。画像ファイルを選択してください。</h1>
  <form method="post" action="/send" enctype="multipart/form-data">
    <input type="file" id="img_file" name="img_file">
    <input type="submit" value="画像を送信してロゴ検出実行">
  </form>
  <p>
  {% if raw_img_url %}
    <img src="{{ raw_img_url }}">
  {% endif %}
  {% if gray_img_url %}
    <img src="{{ gray_img_url }}">
  {% endif %}
  </p>
</body>
</html>